html {
  background: #e0e0e0;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1024px
}

* {
  box-sizing: border-box;
}

.post {
  background: white;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border-color: #ccc;
  border-style: solid;
  border-width: 0 1px 2px 1px;
}

.post:hover {
  background: #f5f5f5;
}

.post:after {
  content: "";
  display: table;
  clear: both;
}

h3,p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

li:hover a {
  color: #000;
  text-decoration: underline;
}

.greyed-out {
  color: #777;
  font-size: 12px;
}

.voting-block {
  float: left;
  text-align: center;
  margin-right: 20px;
}

.voting-block > * {
  display: block;
}

.voting-block button {
  color: #555;
  border: none;
  background: none;
  font-size: 18px;
  outline: none;
}

.upvote.active {
  color: orangered;
}
.downvote.active {
  color: #9494FF;
}
