.post {
  background: #ddd;
  margin-bottom: 20px;
  padding: 20px;
}

.post:after {
  content: "";
  display: table;
  clear: both;
}

h3,p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

li:hover a {
  color: #000;
  text-decoration: underline;
}

.greyed-out {
  color: #777;
  font-size: 12px;
}

.voting-block {
  float: left;
  text-align: center;
}

.voting-block > * {
  display: block;
}

.upvote.active {
  color: orangered;
}
.downvote.active {
  color: #9494FF;
}
