<ul>
  {{#each post in model}}
    <li class="post">
      <div class="title">
        <a {{bind-attr href=post.url title=post.title}} target="_blank">
          {{post.title}}
        </a>
      </div>
      {{#link-to 'posts.post' post}}View Comments{{/link-to}}
    </li>
  {{/each}}
</ul>
